* {
    font-family:"Manrope";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
* a {
    text-decoration: none;
}
* ul {
    list-style: none;
}

/* ====== NAVIGATION PANEL =======*/
.logo-class img {
    height: 15rem;
}
.logo-class h3 {
    font-size: 1.5rem;
}
.container {
    max-width: 120rem;
    width: 70%;
    margin: 0 auto;
}
.container.flex {
    justify-content: space-between;
}
.navbar {
    background-color: rgb(225,229,234);
    color: black;
    height: 5rem;
}

nav.for-mobiles {
    display: none;
}

ul.flex a {
    color: var(--black-color);
    font-weight: 500;
    padding-bottom: 0.7rem;
}
ul.flex a:hover {
    border-bottom: 1px solid var(--dark-bg);
}

ul.flex li {
    transition: transform 0.3s ease;
}
ul.flex li:hover {
    transform: scale(0.90);
}

/* === THE FUTURE OF MANUFACTURING SECTION === */
.container .heading {
    width: 65%;
    padding-top: 6rem;
    
}
.heading span {
    color: var(--dark-bg)
}
.icons-and-text.flex {
    justify-content: space-between;
    margin-top: 0.3rem;
}

.sub-heading.text {
    text-align: center;
}

.card.card-left.dark-bg{
    position: relative;
    overflow: hidden;
}
.card.card-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drawing {
    position: absolute;
    bottom: 21rem;
    left: 0rem;
    width: 30rem;
}


/* ======
===ICONS
 ====== */

.fa-solid.fa-arrow-up-right-from-square.sub-title.light-bg {
    padding: 1rem;
    border: 1px solid var(--dark-bg);
    border-radius: 50%;
}
.fa-solid.fa-bars-staggered.sub-title {
    padding: 1rem;
    border: 1px solid var(--dark-bg);
    border-radius: 50%;
}
.icons-and-text.flex {
    background-color: aqua;
}
.icons-left {
    width: auto;
    margin-top: -20rem;
}

.move {
    margin-left: 6rem;
}

.icons-right {
    width: auto;
    margin-top: -20rem;
    
}
.icons-right i,
    .icons-left i{
        font-size: 1.23rem;
    }

.fa-solid.fa-bars-staggered.sub-title {
    margin-right: 12rem;
}

.icon-text {
    justify-self: center;
}
.flex-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-wrap {
    justify-content: space-between;
}


/* STAR DIV */
.fa-solid.fa-star {
    padding-left: 0.4rem;
}


/* SECTION ONE CARDS */
.center-cards.flex {
    align-items: flex-end;
    justify-content: space-between;
    margin-top: -2.5rem;
    padding-bottom: 8rem;
    gap: 2rem

}

.card-left {
    max-width: 22rem;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.card-right {
    max-width: 22rem;
    width: 100%;
    height: 25rem;
    overflow: auto;
}

.card.hundred.flex-column.px-2
{
    max-width: 19rem;
    width: 100%;
    height: 25rem;
    background-color: var(--dark-bg);
}

.card.hundred.flex-column
{
    max-width: 19rem;
    width: 100%;
    height: 25rem;
    background-color: var(--green-bg)
}
.card.card-left.dark-bg {
    max-width: 22rem;
    width: 100%;
    height: 30rem;
}
.fa-box-archive.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== MIDDLE CARD GRID ===*/
.total-projects.grid {
    max-width: 25rem;
    width:100%;
    height: 18rem;
    background-color: white;
    grid-template-columns: 10% 80% 10% ;
    grid-template-rows: repeat(4, 25%); 
    gap: -0.3rem;
}

.total-projects.grid h2 {
    grid-row: 3/4;
    grid-column: 1/3;
    text-align: left;
}
.total-projects.grid .total-text {
    text-align: left;
    grid-row: 2/3;
    grid-column: 1/3;
}

.total-projects.grid .increase-text {
    text-align: left;
    grid-row: 4/5;
    grid-column: 1/3;
}

.icon-wrap {
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-box-archive.card {
    background-color: var(--green-bg);
    height: 4rem;
    width: 3.5rem;
    border-radius: 10%;
    box-shadow: none;
}

/* === 5TH CARD === */
.card.card-left.dark-bg.flex-column p{
    text-align: left;
}

.card.card-left.dark-bg.flex-column i{

}
.card.card-left.dark-bg.flex-column {
    display: flex;
    justify-content: flex-end;
}

/**===========SECTION TWO ========== */
.card-2-texts h3 {
    font-size: 2.2rem;
}

/* **** ====== Left Picture -----*/
.efficient {
    width: 50%;
    margin: 0 auto;
}

.section-two.grid {
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.card2 i {
    font-size: 2.3rem;
}

.card-2-texts{
    display: flex;
    flex-direction: column;
}

.card-2-icons {
    display: flex;
    justify-content: space-between;
}

.card-2-texts h3 {
    font-size: 2rem ;
}

.card-2-texts p {
    font-size: 1.3rem ;
    padding-top: 1rem;
}

/* ======SECTION THREE====*/

.image-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60rem;
    width: 50%;
}
.image-holder img {
    width: 90%;
    border-radius: 20px;
    border: 1px solid var(--dark-bg);
}

.flex.between {
    display: flex;
    gap: 3rem
}

/* ---- right bar--- */
.rightbar {
    margin-top: 7rem;
    width: 50%;
}
.rightbar h2,
.rightbar p {
    text-align: left;
    margin: 1rem 0;
}

.rightbar ul li h3 {
    text-align: left;
    font-size: 2rem;
    
}

.rightbar ul li p {
    font-size: 1.3rem;
    line-height: 2.4rem;
}

.list.flex {
    align-items: flex-start;
}

.list.flex i {
    font-size: 1.5rem;
    padding-right: 1.2rem;
    padding-top: 1.5rem;
}

/* ---- SECTION FOUR --- */
/*///// CARD 1 AND 2 //////*/
.black.container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.features-line {
    display: flex;
    align-items: center;
    text-align: center;  
    font-size: 1.2rem;
}

.features-line::before,
.features-line::after {
    content: '';
    border-bottom: 0.1px solid rgb(255, 255, 255, 0.3);
    flex: 1;
}

.features-line::before {
    margin-right: 2rem;
    margin-left: 2rem;
}

.features-line::after {
    margin-left: 2rem;
    margin-right: 2rem;
}

.bullet-points.flex {
    justify-content: flex-start;
    padding: 0.5rem 0;
}

.hide-icon {
    display: none;
}

/*======Green Card ========= */
.green-card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.design.text {
    width: 50%;
    margin: 0 auto;
}

/*==========SECTION FIVE=======*/
    .right-text-section-five {
        display: flex;
        flex-direction: column;
        background-color: var(--green-bg);
        padding: 5rem;
        margin-top: 3rem;
        border-radius: 10rem 1rem 1rem 10rem;
        border: 1px solid var(--dark-bg);
}
.btn-primary.green.work {
    align-self: flex-start;
}

.title.empower {
    text-align: left;
}

/** SECTION SIX ****/
.section-six {
    background-image: 
        linear-gradient( rgb(255, 255, 255) 1px, transparent 1px),
        linear-gradient(10deg, rgba(204, 253, 162,0.2) 1px, transparent);
}

.text.center.py-3 {
    width: 35%
}


/* ==== Footer ==== */
li a {
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
}
hr {
    border-bottom: none;
    border-top: 0.5px solid rgba(128, 128, 128, 0.341);
}

.privacy-div a {
    color: white;
}


.footer-title {
    align-items: flex-start;
}

.footer-prodmast {
    text-align: left;
}

.footer-phrase {
    width:50%;
}

.left-align li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid transparent;
}
.left-align a {
    padding-bottom: 0.3rem;
}
.left-align a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.507);
}

.footer-icons {
    gap: 1rem;
    margin-top: 1rem;
}
.footer-icons a i {
    font-size: 2rem;
    padding: 0 0.1rem;
    margin: 0 0.5rem;
    gap: 3rem;
}

.container.flex.footer {
    align-items: flex-start;
}